body {
    text-align: center;
    font-family: Helvetica;
}

h1 {
    font-size: 42px;
}

/*botões*/

#buttons-container button {
    border: none;
    padding: 10px 15px;
    margin: 0 10px;
    transition: ease;
}
button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

/* jogo div container */

#container {
    display: flex;
    width: 300px;
    margin: 0;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    margin: 0 auto;
}

.box {
    height: 100px;
    border: 5px solid black;
    box-sizing: border-box;
    flex: 1 1 33%;
}

#block1, #block2, #block3 {
    border-top: none;
}
#block1, #block4, #block7 {
    border-left: none;
}
#block7, #block8, #block9 {
    border-bottom: none;
}
#block3, #block6, #block9 {
    border-right: none;
}

/* simbolos */

.x {
    font-size: 65px;
    color: red;
    display: inline;
    line-height: auto;
}

.o {
    width: 50px;
    height: 50px;
    border: 5px solid green;
    border-radius: 50%;
    line-height: auto;
    display: inline-block;
    margin-top: 17px;

}


/* classe de esconder */

 .hide { display: none !important };


/* placar */

#scoreboard-container {
    font-weight: bold;
    margin-top: 30px;
    font-size: 25px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    
}

.score-box{
    margin: 0 20px;
}


#x-scoreboard {
    color: red;
    margin-right: 3px;
 }


#o-scoreboard{
      display: inline-block;
      width: 18px;
      height: 18px;
      border: 2px solid green;
      border-radius: 50%;
      margin-right: 3px;

}

/* mensagem de vitória */

#message p {

    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 150px;
    width: 500px;
    background-color: black;
    color: white;
    padding: 20px;
}
